{% extends "base.html.twig" %}

{% block title %}
SOLRENOV17 - À propos
{% endblock title %}

{% block body %}
<div class="app-content">
    {% include "partials/_img-header.html.twig" with {'title' : 'À propos de nous'} %}
    <div class="container my-5 presentation">
        <h4 class="fw-bold mb-2">PRÉSENTATION</h4>
        <p class="bg-danger">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex voluptatem dolorem quis quae ut iure odio delectus vel unde.
        </p>
    </div>
    <h3 class="fw-bold">NOS SERVICES</h3>
    <div class="separator">
        <i class="bi bi-dash-lg"></i><i class="bi bi-tools"></i><i class="bi bi-dash-lg"></i>
    </div>
    <div class="service-container">
        <div class="service-container-item dark-grey">
            <h3>RAGRÉAGE DE SOLS</h3>
            <p>Neuf ou rénovation sur plancher bois, béton et carrelage, rattrapage de niveau et ragréage extérieur (terrasses et garage)</p>
        </div>
        <div class="service-container-item light-grey">
            <h3>REVETEMENTS DE SOLS</h3>
            <p>Fourniture et pose de parquets stratifié, contre-collé et massif, sols souples PVC, en lés, en dalles et en lames. Révêtements de sols décoratifs/techniques bolon, jonc de mer</p>
        </div>
        <div class="service-container-item dark-grey">
            <h3>RENOVATION DE PARQUET</h3>
            <p>Parquet massif, ponçage et vitrification</p>
        </div>
        <div class="service-container-item light-grey">
            <h3>ESPACES EXTÉRIEUR</h3>
            <p>Pose de gazon synthétique</p>
        </div>
        <div class="service-container-item dark-grey">
            <h3>CONSTRUCTIONS NEUVES</h3>
            <p>Prise en charge complète des lots revêtements PVC et parquet</p>
        </div>
        <div class="service-container-item light-grey">
            <h3>LOCAUX TECHNIQUES</h3>
            <p>Neuf ou rénovation de salle de bain en sytème taradouche</p>
        </div>
    </div>
</div>
{% endblock body %}