{% extends 'base.html.twig' %}

{% block title %}SOLRENOV 17{% endblock %}

{% block body %}
{% include "partials/_navbar.html.twig" %}
<div class="app-content">
    <h1>Home</h1>
</div>
{% endblock %}