<footer>
    <div class="footer-main">
        <a href="{{path('home')}}">
            <img src="{{asset('build/images/logo.jpg')}}" alt="logo">
        </a>
        <div class="social">
            <a href="https://www.facebook.com/Eurl-Solrenov17-111613604708398/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/solrenov17/?hl=fr"><i class="bi bi-instagram"></i></a>
            <a href="mailto:solrenov17@gmail.com"><i class="bi bi-envelope"></i></a>
        </div>
    </div>
    <div class="mentions">
        <p>
            MENTIONS LÉGALES
            <br>
            DÉVELOPPÉ PAR CARVALHO LOUIS
        </p>
    </div>
</footer>