.navbar {
    background-color: $bg-dark;

    .navbar-brand {
        img {
            width: 250px;
        }
    }

    .nav-link {
        color: $white;
        font-size: 1.5rem;

        &:hover {
            color: $white;
                border-bottom: solid 3px $orange;
                transition: .5s;
            }
    }

    .active {
        color: $white  !important;
        border-bottom: solid 3px $orange;
    }
}

.menu {
    background-color: $bg-dark;
    color: $white;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
        position: absolute;
        z-index: 2;

    li {
        width: 50%;
    }

                                                                a:hover {
                                                                    border-bottom: solid 3px $orange;
                                                                    transition: .5s ease-in;
    }

    .active {
        color: $white  !important;
        border-bottom: solid 3px $orange;
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 695px) {
    nav {
        height: 10vh !important;
    }

    .menu {
        li {
            width: 95%;
        }
    }
}
@media screen and (max-width: 992px) {
    nav {
            height: 10vh !important;
        }
    .burger {
        &:hover {
                cursor: pointer;
            }
        i {
            color: $white;
            font-size: 2rem;
            border: solid 2px $white;
            border-radius: 10px;
        }
    }
}