{% extends 'base.html.twig' %}

{% block title %}SOLRENOV 17 - Galerie{% endblock %}

{% block body %}
<div class="app-content">
    {% include "partials/_img-header.html.twig" with {'title': 'Notre galerie'} %}
    <h1 class="text-center">Galerie</h1>
</div>
{% endblock %}